@model IEnumerable<AppDescontoUniver.Models.Produto>

@{
    ViewData["Title"] = "Index";
}

<style>
    .product-card {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 10px;
        cursor: pointer;
    }

    .product-details {
        display: none;
        margin-top: 10px;
    }
</style>

<h1>Produtos e Descontos</h1>
@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<div class="container">
    @foreach (var item in Model)
    {
          <div class="product-card" onclick="toggleDetails(this)">
            <h3>@Html.DisplayFor(modelItem => item.NomeDoProduto)</h3>
            <div class="product-details" style="display: none;">
                <p>@Html.DisplayFor(modelItem => item.Descricao)</p>
                <p>@Html.DisplayFor(modelItem => item.Preco)</p>
                @if (User.IsInRole("Admin"))
                {
                    <p>@Html.DisplayFor(modelItem => item.Empresa.Cnpj)</p>
                }
                <div class="details-footer">
                    <p class="button-wrapper">
                        <a href="@item.Link" class="btn btn-primary small-button">Acesse aqui</a>
                    </p>
                    @if (User.IsInRole("Admin"))
                    {
                        <div class="admin-links">
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>

<script>
    function toggleDetails(card) {
        var details = card.querySelector('.product-details');
        details.style.display = (details.style.display === 'block') ? 'none' : 'block';
    }
</script>