@model IEnumerable<AppDescontoUniver.Models.Usuario>

@{
    ViewData["Title"] = "Usuários - Criar conta!";
}

<h1>Criar conta</h1>
@if (User.Identity.IsAuthenticated)
{
        <p>Você já está logado no sistema.</p>
}
else
{
    <div>
        <a class="btn btn-primary" asp-action="Create">Crie sua conta</a>
    </div>
}
@if (User.IsInRole("Admin"))
{
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Perfil)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Perfil)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
}